*{
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


.container .container-login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.container .container-login .form-login { 
  width: 50%;
}

.container .container-login .form-login form {
  margin-top: 15%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

.container .container-login .form-login .input-group {
  display: flex;
  flex-direction: column;
}

.container-login .form-login .input-group label {
  font-family: Arial, sans-serif;
  font-size: 11pt;
  font-weight: 600;
  margin: 10px 0 10px 0;
}

.container-login .form-login .input-group input {
  height: 55px;
  border-width: 1px;
  border-radius: 5px;
  border-color: black;
  padding-left: 10px;
  margin-bottom: 5px;
  
}

.container-login .form-login .input-group .forgot-password {
  text-align: left;
  text-decoration: none;
  font-family: sans-serif, sans-serif;
  font-size: 11pt;
  font-weight: 600;
  margin-top: 15px;
  color: rgb(0, 0, 0);
}

.container-login .form-login .btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container-login .form-login .btn-group .btn-logar {
  width: 643px;
  height: 60px;
  background-color: #3f51b5;
}

.container-login .form-login .btn-group .btn-logar .btn-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 13pt;
}

.container-login .form-login .btn-group .btn-logar .btn-icon {
  margin-right: 16px;
}
.container .MuiToolbar-root{
padding: 32px;
background-color: #3f51b5;
}

